--USE [master]
--GO
--/****** Object:  Database [QUANLYQUANCAFFEE]    Script Date: 12/26/2018 8:11:49 AM ******/
--CREATE DATABASE [QUANLYQUANCAFFEE]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'QUANLYQUANCAFFEE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.DINH_3\MSSQL\DATA\QUANLYQUANCAFFEE.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
-- LOG ON 
--( NAME = N'QUANLYQUANCAFFEE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.DINH_3\MSSQL\DATA\QUANLYQUANCAFFEE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET COMPATIBILITY_LEVEL = 110
--GO
--IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
--begin
--EXEC [QUANLYQUANCAFFEE].[dbo].[sp_fulltext_database] @action = 'enable'
--end
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET ANSI_NULL_DEFAULT OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET ANSI_NULLS OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET ANSI_PADDING OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET ANSI_WARNINGS OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET ARITHABORT OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET AUTO_CLOSE OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET AUTO_CREATE_STATISTICS ON 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET AUTO_SHRINK OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET AUTO_UPDATE_STATISTICS ON 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET CURSOR_CLOSE_ON_COMMIT OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET CURSOR_DEFAULT  GLOBAL 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET CONCAT_NULL_YIELDS_NULL OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET NUMERIC_ROUNDABORT OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET QUOTED_IDENTIFIER OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET RECURSIVE_TRIGGERS OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET  DISABLE_BROKER 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET DATE_CORRELATION_OPTIMIZATION OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET TRUSTWORTHY OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET ALLOW_SNAPSHOT_ISOLATION OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET PARAMETERIZATION SIMPLE 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET READ_COMMITTED_SNAPSHOT OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET HONOR_BROKER_PRIORITY OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET RECOVERY FULL 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET  MULTI_USER 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET PAGE_VERIFY CHECKSUM  
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET DB_CHAINING OFF 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
--GO
--ALTER DATABASE [QUANLYQUANCAFFEE] SET TARGET_RECOVERY_TIME = 0 SECONDS 
--GO
--EXEC sys.sp_db_vardecimal_storage_format N'QUANLYQUANCAFFEE', N'ON'
--GO
USE [QUANLYQUANCAFFEE]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 12/26/2018 8:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[MaBan] [int] NOT NULL,
	[TenBan] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_BAN] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 12/26/2018 8:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaCTHD] [int] NOT NULL,
	[MaHoaDon] [int] NOT NULL,
	[MaMon] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Gia] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/26/2018 8:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHoaDon] [int] NOT NULL,
	[GiamGia] [int] NULL,
	[MaBan] [int] NOT NULL,
	[GioDen] [datetime] NOT NULL,
	[TongTien] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHOMMON]    Script Date: 12/26/2018 8:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMMON](
	[MaLoai] [int] NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[MauSac] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHOMMON] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/26/2018 8:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nchar](30) NOT NULL,
	[password] [nchar](30) NOT NULL,
	[lv] [int] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUCDON]    Script Date: 12/26/2018 8:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUCDON](
	[MaMon] [int] NOT NULL,
	[TenMon] [nvarchar](50) NOT NULL,
	[MaLoai] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
	[DVT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_THUCDON] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_THUCDON] FOREIGN KEY([MaMon])
REFERENCES [dbo].[THUCDON] ([MaMon])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_THUCDON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BAN] FOREIGN KEY([MaBan])
REFERENCES [dbo].[BAN] ([MaBan])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BAN]
GO
ALTER TABLE [dbo].[THUCDON]  WITH CHECK ADD  CONSTRAINT [FK_THUCDON_NHOMMON] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[NHOMMON] ([MaLoai])
GO
ALTER TABLE [dbo].[THUCDON] CHECK CONSTRAINT [FK_THUCDON_NHOMMON]
GO
USE [master]
GO
